body {
  background: #dcdde1ff;
}
header {
  width: 100%;
  height: 104px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: #192549ff;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: minmax(100%, 1200px);
}
.header-wrapper {
  max-width: 100%;
  height: auto;
  padding: 0px 64px;
  display: grid;
  grid-auto-flow: column;
  grid-template-areas:
    "logo ... menu";
  grid-template-columns: auto 1fr auto;
}
.logo {
  width: 240px;
  height: auto;
  grid-area: logo;
}
.hamburger {
  display: none;
  align-self: center;
  cursor: pointer;
}
.back {
  width: 40px;
  height: 40px;
  grid-area: menu;
  display: grid;
  align-self: center;
  cursor: pointer;
}
.menu {
  grid-area: menu;
  display: grid;
  justify-content: center;
  align-content: center;
}
.menu ul {
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
}
.menu a {
  font: 20px 'Jura', sans-serif;
  color: #dcdde1ff;
}
.ghost {
  width: 100%;
  height: 104px;
  background: #dcdde1ff;
}
.move {
  padding: 8px;
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  justify-content: center;
  align-content: center;
}
.move button {
  border: none;
  background: #192549ff;
  cursor: pointer;
}
.move img {
  width: 24px;
  height: 24px;
  margin: 8px;
}
footer {
  width: 100%;
  height: 64px;
  background: #192549ff;
  display: grid;
  justify-content: center;
  align-content: center;
}
footer p {
  font: 16px 'Jura', sans-serif;
  color: #dcdde1ff;
}
footer a {
  font-weight: bold;
  color: #dcdde1ff;
}
@media (max-width: 800px) {
  header {
    height: 80px;
  }
  .header-wrapper {
    padding: 0px 32px;
  }
  .logo {
    width: 184px;
  }
  .hamburger {
    width: 32px;
    height: 32px;
    grid-area: menu;
    display: grid;
  }
  .back {
    width: 32px;
    height: 32px;
  }
  .menu {
    width: 100vw;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    left: 0px;
    background: #273c75ff;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
  }
  .menu ul {
    grid-auto-flow: row;
    gap: 32px;
  }
  .menu ul li {
    display: grid;
    justify-content: center;
  }
  .menu a {
    font-size: 24px;
  }
  .menu-opened {
    transform: translateX(0%);
  }
  .ghost {
    height: 80px;
  }
  .move img {
    width: 16px;
    height: 16px;
    margin: 4px;
  }
}